.phtoMetadata {
  margin-top: .25rem;
  color: grey;
}

@media only screen and (orientation: landscape) {
  .phtoBox.horizontal {
    max-width: 60rem;
    padding: .5rem;
  }
  
  .phtoBox.vertical {
    max-width: 40rem;
    padding: .5rem;
  }
}

@media only screen and (orientation: portrait) {
  .phtoBox.horizontal {
    padding: .5rem;
  }
  
  .phtoBox.vertical {
    padding: .5rem;
  }
}